<!DOCTYPE html>
{% load staticfiles %}
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'terminal/css/style.css' %}">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container">
    <div id="logo" class="text-center"><img src="{% static 'terminal/img/logo.png' %}" alt=""></div>
        <div id="button_space">
        <form action="{% url 'szwalnia_przekazanie_f' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <label>Wozek</label>
                <p class="text-center">
                    <input type="edit" name="wozek" id="wozek"></p>
            </div>
            <div class="row">
                <label>Etykieta</label>
                <p class="text-center">
                    <input type="edit" name="etykieta"></p>
            </div>
            <div class="row">
                <div class="col-xs-6">
                    <a href="{% url 'szwalnia_index' %}">
                        <button type='button' class="button btn-sm">Cofnij</button>
                    </a>
                </div>
                <div class="col-xs-6">                    
                    <button class="btn-sm submit">OK</button>
                </div>
            </div>
        </form>
        </div>        
        {% if message_variable %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="errorinfo text-center">
                        <strong><p>NUMER TA: {{ ta }}</p><p>DODANE DO WOZKA {{ wozek }}</p></strong>
                    </div>
                </div>
            </div>        
        {% endif %}
        {% if error %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="errorinfo text-center">
                        <strong style="color: red;">Podana etykieta nie zostala odnaleziona</strong>
                    </div>
                </div>
            </div>        
        {% endif %}
    </div>

    <!-- jQuery -->
    <script src="{% static 'jquery/js/jquery.min.js' %}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

    <script type="text/javascript">
    jQuery(document).ready(function($) {
        $('#wozek').focus();
    });
    </script>
</body>
</html>